.message {
    display: flex;
    align-items: center;
    padding: 10px;
}
.message_info {
    margin-left: 20px;
    color: white;
}
.message_timestamp {
    color: grey;
    margin-left: 20px ;
    font-size: x-small;
}