.message {
    display: flex;
    align-items: center;
    padding: 20px;
}
.message_info {
    margin-left: 20px;
    color: white;
}
.message_timestamp {
    color: grey;
    margin-left: 20px ;
    font-size: x-small;
}
@media (max-width: 600px) {
    .message {
      padding: 10px; /* Adjust padding for smaller screens */
      flex-direction: column; /* Stack elements vertically */
    }
  
    .message_info {
      margin-left: 0px; /* Adjust or reset margin for smaller screens */
      font-size: small; /* Reduce font size for mobile */
    }
  
    .message_timestamp {
      margin-left: 0px; /* Reset margin */
      font-size: smaller; /* Adjust font size */
    }
  }  