.sidebarChannel:hover > h4 {
    color: white;
    background-color: #40464b;
}

.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: grey;
    cursor: pointer;
}
.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
}
@media (max-width: 600px) {
    .message {
      padding: 10px; /* Adjust padding for smaller screens */
      flex-direction: column; /* Stack elements vertically */
    }
  
    .message_info {
      margin-left: 0px; /* Adjust or reset margin for smaller screens */
      font-size: small; /* Reduce font size for mobile */
    }
  
    .message_timestamp {
      margin-left: 0px; /* Reset margin */
      font-size: smaller; /* Adjust font size */
    }
  }